<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>Cadastrar Alunos</h1>
    <h2><a href="/">Página Inicial</a></h2>
    <form method="post" action="/cadastro">
        <label for="nome"><strong>Nome</strong></label>
        <input type="nome" id="nome" name="nome" required>
        <br>
        <label for="matricula"><strong>Matricula</strong></label>
        <input type="matricula" id="matricula" name="matricula" required>
        <br>
        <button type="submit">Cadastrar</button>
    </form>
    <form method="get"></form>
</body>
</html>
