<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exclusão de Alunos</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>Exclusão de Alunos</h1>
    <form action="/deletaAlunos" method="post">
        <label for="matricula"><strong>Matrícula do Aluno</strong></label>
        <input type="text" id="matricula" name="matricula"><br><br>
        <input type="submit" value="Deletar">
    </form>
</body>
</html>